<!DOCTYPE html>
<html>
  <head>
    <title>RamsProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.10.1/trix.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.10.1/trix.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("input").click(function() {
           var id = $(this).attribute("data-id"); // Using a custom attribute.
           $("#pages div").hide(); // gather all the div tags under the element with the id pages and hide them.
           $(".div" + id).show(); // Show the div with the class of .divX where X is the number stored in the data-id of the object that was clicked.
        });
    });
    </script>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%if !notice.nil? && !alert.nil?%>
    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%end%>
    <% if flash[:alert]%>
    <%= flash[:alert] %>
    <%end%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4 twitter-and-rss">
          <%=render '/layouts/twitter'%>
          <%=render '/layouts/rss'%>
        </div>
      </div>
    </div>
  </body>
</html>
